extends base
block title
    title ChatSS
block styles
    link(rel="stylesheet" type="text/css" href="/css/main.css")
block page
    .pure-g
        .pure-u-2-24
        .about.pure-u-20-24
            h1 About ChatSS
            p
                | ChatSS is a chat app built entirely in CSS! It also doesn't use forms to submit text to a server.
                | This presents an interesting challenge, and also restrictions. This leaves us with a chat room that
                | can be a game (hehe yes that's how i'll spin it)!
                h2 The Rules:
                ul
                    li Each character can only be used once (a !== A).
                    li You can't fix your mistakes, so no backspace.
                    li No complaining about flashing/disappearing text.
                    li Make sure you rub it in @Poison Apple's face that you can choose your own name in my chat app.
                p
                    | That's pretty much it! Try to see how well you can communicate without duplicate characters!
                    | I have included the entire set of characters that I could see on my keyboard so once again take that
                    | @Poison Apple. Additionally, you can type normally and not hold shift+alt to make it work, and enter
                    | sends the message.
        .pure-u-2-24
