extends base
block title
    title ChatSS
block page
    .splash.name-input
        h1 Welcome to ChatSS!
        p
            a.pure-button.pure-button-primary(href="/about") About
        p
            a.pure-button.pure-button-primary(href="/name") Choose a Name
        p
            a.pure-button.pure-button-primary(href="/chat") Chat
